/*     好吧 我想这样不是最好的 但是是简单的  偶哈哈哈      */
/* color D6DDE9 ECE8D5  E9DDCF  E3E3E3 F0DCE3  DBEEE6 E4EDD1 CFE6E9*/
.D6DDE9{
	background-color: #D6DDE9;
	color: #8FA6D1;
}
.ECE8D5{
	background-color: #ECE8D5;
	color: #D0C9B2;
}
.E9DDCF{
	background-color: #E9DDCF;
	color: #D8A196;
}
.E3E3E3{
	background-color: #E3E3E3;
	color: #B9C0C7;
}
.F0DCE3{
	background-color: #F0DCE3;
	color: #DBA8BA;
}
.DBEEE6{
	background-color: #DBEEE6;
	color: #AFD8C7;
}
.E4EDD1{
	background-color: #E4EDD1;
	color: #C8D7A5;
}
.CFE6E9{
	background-color: #CFE6E9;
	color: #8CB6C7;
}